@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Cinzel:wght@400;500&family=Diphylleia&family=Sacramento&display=swap');@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Coda&family=Comfortaa:wght@300&family=Galada&family=Gravitas+One&family=Limelight&family=Lobster+Two&family=Prosto+One&family=Unbounded:wght@200&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #EDE5D0;
}
.top{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    background-color: #EDE5D0;
    z-index:2;
    justify-content: flex-end;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;  
}
li{
    list-style-type:none;
}
.main-list{
    display:flex;
    z-index:3;
    position: relative;
    font: 30px bold;
    font-family: monospace;
    color: black;
    text-decoration: none;
    list-style-type:none;
    padding: 4px 10px;
}
.main-list:hover{
    color:rgb(196, 7, 174);
}
main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 0 40px 0 40px;
}
h1{
    margin:0;
    padding: 0;
    font-size: 6rem;
    text-align: center;
    font-family: fantasy;
    position: relative;
    display: flex;
    overflow: visible;
    flex-wrap: wrap;
    overflow-wrap: normal; 
}
h2{
    font-family: 'Amita';
    position: inherit;
    display: flex;
    top:2px;
    font-size: 31px;
}
main #container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 514px;
    height: 446px;
    overflow: hidden;
}
#container img{
    width: 100%;
    height: 100%;
	object-fit: cover;
    position: relative;
    display: flex;
}
#container #form{
    display: flex;
    background: rgb(246, 246, 246);
    width:434px;
    height: 372px;
    position: absolute;
    padding: 30px 21px 15px 21px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}
#form form{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    margin:2px;
}
#form #form1{
    display: flex;
    flex-direction: row;
    margin-top:30px;
    width: 100%;
    height: 43px;
}
#form .form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form2 textarea {
    resize: none;
    width: 100%;
    background: transparent;
    border: 1.2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    outline: none;
    padding: 10px;
    transition: 0.35s;
    margin-top:8px;
  }
#form1 label{
    position: absolute;
    top:16%;
    left:11px;
    font-size: 19px;
    pointer-events: none;
    color:rgb(0, 0, 0);
    transition: 0.35s;
}
#form input{
    background: transparent;
    border: 1.2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    gap:5px;
    padding: 0 10px;
    outline: none;
}
.form2 label{
    position: absolute;
    top:8%;
    left:11px;
    font-size: 19px;
    pointer-events: none;
    color:rgb(0, 0, 0);
    transition: 0.35s;
}
#form1 input:focus~label, #form1 input:valid~label{
    top:-8px;
    font-size:16px;
    background: rgb(246, 246, 246);
}
textarea:focus~label, textarea:valid~label{
    top:-2px;
    font-size:16px;
    background: rgb(246, 246, 246);
}
.form2 button{
    background-color: #73abce;
    width: 80px;
    height: 34px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    font-style: bold;
    color: white;
    cursor: pointer;
}
main #animation{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 514px;
    height: 646px;
    overflow: hidden;
}
#animation img{
    width: 100%;
    height: 100%;
	object-fit: cover;
    position: absolute;
    display: flex;    
}
#animation #woman2{
    opacity:0;
}
#container:hover~#animation #woman2{
    opacity:1;
    position: absolute;
    transition: 0.8s;
}
#container:not(hover)~#animation #woman2{
    transition: 0.5s;
}
@media only screen and (max-width: 800px){
    #container{
       flex-direction: column;
       display: flex;
       margin-top: 20px;
       scale:85%;
       overflow: hidden;
    }
    #animation{
        margin-top:25px;
        scale:85%;
        overflow: hidden;
    }
    main{
        padding:0;
        display: flex;
        float: left;
        flex-wrap: wrap;
        overflow: hidden;
    }
}
@media only screen and (min-width:800px) and (max-width: 1130px){
    main{
        padding:0;
    }
    #container{
        scale:80%;
    }
    #animation{
        scale:80%;
    }
}
@media only screen and (min-width: 1600px){
    #container{
        scale:120%;
    }
    #animation{
        scale:130%;
    }
}






