*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    
    background-color: #EDE5D0;
    
    
}
.top{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    background-color: #EDE5D0;
    z-index:2;
    justify-content: flex-end;
    
}
ul{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;  
    
}
li{
    list-style-type:none;
}

.main-list{
    display:flex;
    z-index:3;
    position: relative;
    font: 30px bold;
    font-family: monospace;
    color: black;
    text-decoration: none;
    list-style-type:none;
    padding: 4px 10px;
}

/* li, a{
    display:flex;
    z-index:3;
    position: relative;
    font: 30px bold;
    font-family: monospace;
    color: black;
    text-decoration: none;
    padding: 4px 10px;
} */
.main-list:hover{
    color:rgb(196, 7, 174);
}

main{

    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

}

h1{
    margin:0;
    padding: 0;
    font-size: 6rem;
    text-align: center;
    font-family: fantasy;
    position: relative;
    display: flex;
    overflow: visible;
    flex-wrap: wrap;
    overflow-wrap: normal;
  
   
    
}


#slide{
    display: flex;
    float: left;
    align-items: center;
    height: 20rem;
    width: 100vw;
    position: relative;
    justify-content: center;

}
#find-out{
    position: relative;
    display: flex;
    animation: slide-left 0.9s ease-out both;
    flex-wrap: wrap;
    
    

}
#man img{
    width: 100%;
    height: 100%;
	
    position: relative;
    display: flex;
}
#man{
    
    width:178px;
    height: 323px;
    animation: slide-right 0.9s ease-out both;

}

@keyframes slide-right {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(40px);
    }
}
@keyframes slide-left {
    0% {
        transform: translateX(120px);
    }
    100% {
        transform: translateX(40px);
    }
}
@media only screen and (max-width: 1000px){

  h1{
    font-size: 3rem;
    margin:0;
    padding: 0;
    text-align: center;
    font-family: fantasy;
    position: relative;
    display: flex;
    

  }

  
}

.img-box img {
    width: 100%;
   
     
} 

.img-box{
    position: relative;
    border-radius: 10px;
    margin-top: 7px;
}
#container .card{
    display: flex;
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 534px;
    height: 370px;
    margin-top:35px;
    
    background-color: white;
    border-radius: 15px;
    animation: slide-top 1s ease-in-out both;
    transition:0.5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
#container{
    display: flex;
   
    margin:30px;
    gap:30px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-top:150px;
    
}
#container .card .img-box{

    
    position: absolute;
    width: 469px;
    height: 275px;
    
    transition: 0.4s;
    overflow: hidden;
    
}
#container .card .img-box img{

    top:0;
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 800px){
    #container .card{
        width: 450px;
    }
    #container .card .img-box{
        width: 407px;
    }
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px);
    }
  }
  #container .card:hover{
    height:25rem;
    transition:0.5s;
    
    
  }
  #container .card:hover .img-box{
    top:-100px;
    scale: 0.65;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);;

  }
  #container .card .content{
    position: absolute;
    top:312px;
    width:100%;
    padding: 0 30px;
    height: 31px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
  }
  #container .card:hover .content{
    top:174px;
    height: 198px;
  }
  #container .card .content .visit{
    position: relative;
    top:15px;
    display: inline-block;
    padding:12px 25px;
    color: white;
    text-decoration: none;
    background: #aec0a1;
    font-style: bold;
    border-radius: 7px;
  }
  #container .card .content #links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
  }
  .visit{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }
  #container .card .content h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #container .card .content p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }